/*Tablet classes*/
.sidebar-menu > li > a {
  padding: 12px 5px 12px 11px;
}

.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.p-t-3 {
  padding-top: 3px;
}
.form-control {
  font-size: 13px;
}
.table tr th {
  background-color: transparent;
}
.margin-r-15 {
  margin-right: 15px;
}
.margin-t-3 {
  margin-top: 3px;
}

