.icon-backgrdcolor{
    background-color: #dfdedf;
  }
  .icon-color{
    color: #51a1da;
  }

  .icon-user-bg{
    background-color: #dfdedf;
  }
   
  .icon-user-image{
      height: 26px;      
      width: 26px;
  }
  .icons-pull-right{
    margin-right: 53px;
    margin-top: 13px;
  }
  