<div class="header" style="background:#dfdfdf;height:75px;margin-top:2px">
<div class="row">
  <div class="col-sm-12">
      <a class="col-sm-2">
          
      </a>
      <div class="col-sm-4 header-bar__main">
          <div class="header-heading">
              <h2 class="page-title" style="color:#58585b !important">Corporate Strategy Hub</h2>
          </div>
      </div>
      <div class="col-sm-6 pull-right header-toolbar" style="">
           
          <a class="btn btn--small btn--icon logo-blue">
              <span class="icon-cog"></span>
          </a>
          <a class="btn btn--small btn--icon logo-blue">
              <span class="icon-alert"></span>
          </a>
          <a class="btn btn--small btn--icon logo-blue">
                <span><img class="thumb" src="assets/custom/img/logo_user.png"></span>
            </a>

          
          
      </div>
  </div>
</div>
</div>
