.document_types_sprite { background-image: url(../img/document_types_sprite.png); }
.document_types_sprite_gz_17 { background-position: 0 0; width:17px; height:17px; }
.document_types_sprite_gz_32 { background-position: -18px 0; width:32px; height:32px; }
.document_types_sprite_gz_64 { background-position: -52px 0; width:63px; height:64px; }
.document_types_sprite_tar_17 { background-position: 0 -66px; width:17px; height:17px; }
.document_types_sprite_tar_32 { background-position: -18px -66px; width:32px; height:32px; }
.document_types_sprite_tar_64 { background-position: -52px -66px; width:63px; height:64px; }
.document_types_sprite_tgz_17 { background-position: 0 -132px; width:17px; height:17px; }
.document_types_sprite_tgz_32 { background-position: -18px -132px; width:32px; height:32px; }
.document_types_sprite_tgz_64 { background-position: -52px -132px; width:63px; height:64px; }
.document_types_sprite_zip_17 { background-position: 0 -198px; width:17px; height:17px; }
.document_types_sprite_zip_32 { background-position: -18px -198px; width:32px; height:32px; }
.document_types_sprite_zip_64 { background-position: -52px -198px; width:63px; height:64px; }
.document_types_sprite_csv_17 { background-position: 0 -264px; width:17px; height:17px; }
.document_types_sprite_csv_32 { background-position: -18px -264px; width:32px; height:32px; }
.document_types_sprite_csv_64 { background-position: -52px -264px; width:63px; height:64px; }
.document_types_sprite_lar_17 { background-position: 0 -330px; width:17px; height:17px; }
.document_types_sprite_lar_32 { background-position: -18px -330px; width:32px; height:32px; }
.document_types_sprite_lar_64 { background-position: -52px -330px; width:63px; height:64px; }
.document_types_sprite_odb_17 { background-position: 0 -396px; width:17px; height:17px; }
.document_types_sprite_odb_32 { background-position: -18px -396px; width:32px; height:32px; }
.document_types_sprite_odb_64 { background-position: -52px -396px; width:63px; height:64px; }
.document_types_sprite_odf_17 { background-position: 0 -462px; width:17px; height:17px; }
.document_types_sprite_odf_32 { background-position: -18px -462px; width:32px; height:32px; }
.document_types_sprite_odf_64 { background-position: -52px -462px; width:63px; height:64px; }
.document_types_sprite_odp_17 { background-position: 0 -528px; width:17px; height:17px; }
.document_types_sprite_odp_32 { background-position: -18px -528px; width:32px; height:32px; }
.document_types_sprite_odp_64 { background-position: -52px -528px; width:63px; height:64px; }
.document_types_sprite_pdf_17 { background-position: 0 -594px; width:17px; height:17px; }
.document_types_sprite_pdf_32 { background-position: -18px -594px; width:32px; height:32px; }
.document_types_sprite_pdf_64 { background-position: -52px -594px; width:63px; height:64px; }
.document_types_sprite_ppt_17 { background-position: 0 -661px; width:18px; height:17px; }
.document_types_sprite_ppt_32 { background-position: -18px -661px; width:32px; height:32px; }
.document_types_sprite_ppt_64 { background-position: -52px -661px; width:63px; height:64px; }
.document_types_sprite_pptx_17 { background-position: 0 -661px; width:18px; height:17px; }
.document_types_sprite_pptx_32 { background-position: -18px -661px; width:32px; height:32px; }
.document_types_sprite_pptx_64 { background-position: -52px -661px; width:63px; height:64px; }
.document_types_sprite_sxi_17 { background-position: 0 -726px; width:17px; height:17px; }
.document_types_sprite_sxi_32 { background-position: -18px -726px; width:32px; height:32px; }
.document_types_sprite_sxi_64 { background-position: -52px -726px; width:63px; height:64px; }
.document_types_sprite_tsv_17 { background-position: 0 -792px; width:17px; height:17px; }
.document_types_sprite_tsv_32 { background-position: -18px -792px; width:32px; height:32px; }
.document_types_sprite_tsv_64 { background-position: -52px -792px; width:63px; height:64px; }
.document_types_sprite_bmp_17 { background-position: 0 -858px; width:17px; height:17px; }
.document_types_sprite_bmp_32 { background-position: -18px -858px; width:32px; height:32px; }
.document_types_sprite_bmp_64 { background-position: -52px -858px; width:63px; height:64px; }
.document_types_sprite_gif_17 { background-position: 0 -924px; width:17px; height:17px; }
.document_types_sprite_gif_32 { background-position: -18px -924px; width:32px; height:32px; }
.document_types_sprite_gif_64 { background-position: -52px -924px; width:63px; height:64px; }
.document_types_sprite_jpg_17 { background-position: 0 -990px; width:17px; height:17px; }
.document_types_sprite_jpg_32 { background-position: -18px -990px; width:32px; height:32px; }
.document_types_sprite_jpg_64 { background-position: -52px -990px; width:63px; height:64px; }
.document_types_sprite_odg_17 { background-position: 0 -1056px; width:17px; height:17px; }
.document_types_sprite_odg_32 { background-position: -18px -1056px; width:32px; height:32px; }
.document_types_sprite_odg_64 { background-position: -52px -1056px; width:63px; height:64px; }
.document_types_sprite_png_17 { background-position: 0 -1122px; width:17px; height:17px; }
.document_types_sprite_png_32 { background-position: -18px -1122px; width:32px; height:32px; }
.document_types_sprite_png_64 { background-position: -52px -1122px; width:63px; height:64px; }
.document_types_sprite_tif_17 { background-position: 0 -1188px; width:17px; height:17px; }
.document_types_sprite_tif_32 { background-position: -18px -1188px; width:32px; height:32px; }
.document_types_sprite_tif_64 { background-position: -52px -1188px; width:63px; height:64px; }
.document_types_sprite_vsd_17 { background-position: 0 -1254px; width:17px; height:17px; }
.document_types_sprite_vsd_32 { background-position: -18px -1254px; width:32px; height:32px; }
.document_types_sprite_vsd_64 { background-position: -52px -1254px; width:63px; height:64px; }
.document_types_sprite_ods_17 { background-position: 0 -1320px; width:17px; height:17px; }
.document_types_sprite_ods_32 { background-position: -18px -1320px; width:32px; height:32px; }
.document_types_sprite_ods_64 { background-position: -52px -1320px; width:63px; height:64px; }
.document_types_sprite_sxc_17 { background-position: 0 -1386px; width:17px; height:17px; }
.document_types_sprite_sxc_32 { background-position: -18px -1386px; width:32px; height:32px; }
.document_types_sprite_sxc_64 { background-position: -52px -1386px; width:63px; height:64px; }
.document_types_sprite_xls_17 { background-position: 0 -1453px; width:17px; height:17px; }
.document_types_sprite_xls_32 { background-position: -18px -1453px; width:32px; height:32px; }
.document_types_sprite_xls_64 { background-position: -52px -1453px; width:63px; height:64px; }
.document_types_sprite_xlsx_17 { background-position: 0 -1453px; width:17px; height:17px; }
.document_types_sprite_xlsx_32 { background-position: -18px -1453px; width:32px; height:32px; }
.document_types_sprite_xlsx_64 { background-position: -52px -1453px; width:63px; height:64px; }
.document_types_sprite_doc_17 { background-position: 0 -1519px; width:18px; height:18px; }
.document_types_sprite_doc_32 { background-position: -18px -1519px; width:32px; height:32px; }
.document_types_sprite_doc_64 { background-position: -52px -1519px; width:63px; height:64px; }
.document_types_sprite_docx_17 { background-position: 0 -1519px; width:18px; height:18px; }
.document_types_sprite_docx_32 { background-position: -18px -1519px; width:32px; height:32px; }
.document_types_sprite_docx_64 { background-position: -52px -1519px; width:63px; height:64px; }
.document_types_sprite_odt_17 { background-position: 0 -1584px; width:17px; height:17px; }
.document_types_sprite_odt_32 { background-position: -18px -1584px; width:32px; height:32px; }
.document_types_sprite_odt_64 { background-position: -52px -1584px; width:63px; height:64px; }
.document_types_sprite_page_17 { background-position: 0 -1650px; width:17px; height:17px; }
.document_types_sprite_page_32 { background-position: -18px -1650px; width:32px; height:32px; }
.document_types_sprite_page_64 { background-position: -52px -1650px; width:63px; height:64px; }
.document_types_sprite_rtf_17 { background-position: 0 -1716px; width:17px; height:17px; }
.document_types_sprite_rtf_32 { background-position: -18px -1716px; width:32px; height:32px; }
.document_types_sprite_rtf_64 { background-position: -52px -1716px; width:63px; height:64px; }
.document_types_sprite_sxw_17 { background-position: 0 -1782px; width:17px; height:17px; }
.document_types_sprite_sxw_32 { background-position: -18px -1782px; width:32px; height:32px; }
.document_types_sprite_sxw_64 { background-position: -52px -1782px; width:63px; height:64px; }
.document_types_sprite_txt_17 { background-position: 0 -1848px; width:17px; height:17px; }
.document_types_sprite_txt_32 { background-position: -18px -1848px; width:32px; height:32px; }
.document_types_sprite_txt_64 { background-position: -52px -1848px; width:63px; height:64px; }
.document_types_sprite_css_17 { background-position: 0 -1914px; width:17px; height:17px; }
.document_types_sprite_css_32 { background-position: -18px -1914px; width:32px; height:32px; }
.document_types_sprite_css_64 { background-position: -52px -1914px; width:63px; height:64px; }
.document_types_sprite_htm_17 { background-position: 0 -1980px; width:17px; height:17px; }
.document_types_sprite_htm_32 { background-position: -18px -1980px; width:32px; height:32px; }
.document_types_sprite_htm_64 { background-position: -52px -1980px; width:63px; height:64px; }
.document_types_sprite_html_17 { background-position: 0 -2046px; width:17px; height:17px; }
.document_types_sprite_html_32 { background-position: -18px -2046px; width:32px; height:32px; }
.document_types_sprite_html_64 { background-position: -52px -2046px; width:63px; height:64px; }
.document_types_sprite_js_17 { background-position: 0 -2112px; width:17px; height:17px; }
.document_types_sprite_js_32 { background-position: -18px -2112px; width:32px; height:32px; }
.document_types_sprite_js_64 { background-position: -52px -2112px; width:63px; height:64px; }
.document_types_sprite_swf_17 { background-position: 0 -2178px; width:17px; height:17px; }
.document_types_sprite_swf_32 { background-position: -18px -2178px; width:32px; height:32px; }
.document_types_sprite_swf_64 { background-position: -52px -2178px; width:63px; height:64px; }
.document_types_sprite_xml_17 { background-position: 0 -2244px; width:17px; height:17px; }
.document_types_sprite_xml_32 { background-position: -18px -2244px; width:32px; height:32px; }
.document_types_sprite_xml_64 { background-position: -52px -2244px; width:63px; height:64px; }
