html, body {
  /*height: 100% !important;*/
  margin:0;
}

body{
  background-image :none !important;
  background-color:#F2F2F2;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #2d5895;
  text-decoration:none;
  outline:0;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}
.navPills>li.active>a{
  background-color: #049FD9 !important;
}
.navPills>li{
  margin-top:0 !important;
}
.navPills>li>a{
  padding: 20px 15px;
  border-radius: 0;
  color:#049FD9;
  font-weight:bold;
  border-bottom:1px solid #ccc;
}
.side_nav{
  background-color: #fff;
  padding-left:0;padding-right:0;
}
.side_nav .navbar{
  margin-bottom:0;
}
.footer{
  margin:0px;
  padding-top:10px;
  background-color:#E4E4E4;
  padding-bottom: 5px; 
  height: 100px;
  margin-left: 20px;
  
}
.footer ul{
  margin-bottom:0;
}

.header .header-bar__logo span.icon-cisco {
  display: block;
  color: #049fd9;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10px;
}

.header-heading h1{
  margin-top:15px;
}

.header-toolbar{
  text-align: right;
  margin-top: 18px;
}
.logo-blue {
  color: #049fd9;
}

.side_nav {
   margin-left: 15px;
}

.cisco_icon_style {
  font-size: 45px;
  text-align: center;
  margin-left: 75px;
  color: #049FD9 !important;
  margin-top: 8px;
}
