

<div class="cui" style="padding: 14px 0 10px 18px;width: 122%; max-height:100%;">
        <div class=" hero hero--loose hero--background-3 bodycomp" style="height:5em; line-height:16px;border-radius: 4px;">
            <div class="container" style="height:75px;">
                <div class="hero__content">
             <p class="headline" style="margin-top: -48px;">
               <b>Announcement Headline</b><br/>
               <marquee behavior="scroll" direction="right" style="color:red;">{{newsfeed.news}} </marquee>
               Introduction and details about the announcement &nbsp;&nbsp;&nbsp; <a href="https://cisco.jiveon.com" target="_blank"><u>Find out more></u></a></p>
                </div>
            </div>
        </div>
        </div>
        
        
        