.alert .close {
  color: #000;
  opacity: 0.4;
  font-size: 35px;
  top: -18px;
  right: -30px;
  filter: alpha(opacity=40);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert a {
  color: #fff;
  text-decoration: underline;
}

.alert-success {
    padding: 15px;
    background-color: #fff !important;
    border: 1px solid #008d4c;
    border-bottom: 10px solid #008d4c;
}
.alert-success h4 {
  font-weight: bold;
  font-size: 22px;
  color: #008d4c;
  margin: 0;
}
.alert-success .icon {
  margin-right: 30px;
  font-size: 55px;
  color: #00a65a ;
  float: left;
}
.alert-success .message {
    color: #375D81;
    font-size: 22px;
    font-weight: normal;
}

.alert-danger {
    padding: 15px;
    background-color: #fff !important;
    border: 1px solid #E53935;
    border-bottom: 10px solid #E53935;
}
.alert-danger h4 {
  font-weight: bold;
  font-size: 22px;
  color: #E53935;
  margin: 0;
}
.alert-danger .icon {
  margin-right: 30px;
  font-size: 55px;
  color: #E53935 ;
  float: left;
}
.alert-danger .message {
    color: #375D81;
    font-size: 22px;
    font-weight: normal;
}

/*.alert-error {
  border-color: #d73925;
}
.alert-warning {
  border-color: #e08e0b;
}
.alert-info {
  border-color: #00acd6;
}*/